{% extends 'sistema/base.html' %}

{% block content %}
    <h1 class="mt-4">Gestión de Categorías</h1>
    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre de la Categoría:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Agregar Categoría</button>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <a href="{% url 'editar_categoria' categoria.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'eliminar_categoria' categoria.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar esta categoría?')">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
