{% extends 'sistema/base.html' %}

{% block content %}
    <h1>Editar Producto</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>
        <div class="form-group">
            {{ form.codigo_barra.label_tag }}
            {{ form.codigo_barra }}
        </div>
        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
        </div>
        <div class="form-group">
            {{ form.precio.label_tag }}
            {{ form.precio }}
        </div>
        <div class="form-group">
            {{ form.cantidad.label_tag }}
            {{ form.cantidad }}
        </div>
        <div class="form-group">
            {{ form.categoria.label_tag }}
            {{ form.categoria }}
        </div>
        <div class="form-group">
            {{ form.imagen.label_tag }}
            {{ form.imagen }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
{% endblock %}
